*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;

}

img[src="imagenes/listaordenada.png"] {
    height: 100px;
    width: 100px;
}

img[src="imagenes/listadesordenada.png"] {
    width: 200px;
    height: 200px;
}
